[MASTER]
# Use multiple processes to speed up Pylint.
jobs=1

[MESSAGES CONTROL]
# Disable the message, report, category or checker with the given id(s).
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    C0301,  # line-too-long
    C0411,  # wrong-import-order
    C0413,  # wrong-import-position
    C0415,  # import-outside-toplevel
    R0402,  # consider-using-from-import
    R0801,  # duplicate-code
    R0903,  # too-few-public-methods
    R0914,  # too-many-locals
    W0603,  # global-statement
    W0612,  # unused-variable
    W0613,  # unused-argument
    W0621,  # redefined-outer-name
    W0640,  # cell-var-from-loop
    W0707,  # raise-missing-from
    W0718,  # broad-exception-caught
    W1201,  # logging-not-lazy
    W1203,  # logging-fstring-interpolation
    W1508,  # invalid-envvar-default
    W1514,  # unspecified-encoding
    C0103,  # invalid-name
    E0606,  # possibly-used-before-assignment

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=120

[DESIGN]
# Maximum number of arguments for function / method
max-args=7

# Maximum number of locals for function / method body
max-locals=20

# Maximum number of return / yield for function / method body
max-returns=6

# Maximum number of branch for function / method body
max-branches=15

# Maximum number of statements in function / method body
max-statements=60
